*{
    padding: 0;
    margin:0;
    border-size:border-box;

}
 body{
    background-color: rgb(184, 84, 84);
}

header nav ul{
    display:grid;
    grid-auto-flow:column;
    list-style:none;
    justify-content:start;
   border:1px solid;
   background-color:rgb(61, 59, 59);
   height:30px;
   align-items:center;
   margin-top:5px;
  
   
}


nav ul li  a{
    color:white;
    text-decoration: none;
    padding-left:20px;
    
}
 .header__right-menu{
     margin-left: 50px;
 }
    
header .header__right-menu a{
    padding-left:150px;
    justify-content: start;
}

.middle-header{
    border:1px solid;
    background-color: rgb(63, 62, 62);
    margin-top:190px;
    width:500px;
    border:none;
    margin-bottom: 150px;
margin-left:550px;

border-radius:4px;

    
}

.middle-header-h2{
    color:yellow;
    justify-content: center;
    padding-left:100px;
}

.first-p{
    color:white;
    padding-top:6px;
}

.second-p{
    color:white;
}

.third-p{
    color:white;
}



footer{
    background-color: white;
    height: 250px;
    display: grid;
    grid-auto-flow: column;
    gap: .2em;
    place-items: center;
    justify-content: center;

}



footer .footer-first{
    border:1px solid;
    width:200px;
    margin-top:40px ;
    background-color: white;
    height:80px;
    margin:30px;
 
}

.go-to-project {
    border:1px solid;
    padding-left:50px;
background-color: rgb(192, 57, 57);
color:white;
border-radius:4px;
margin-top:2px;

}

.full-h5{
    color:rgb(207, 79, 79);
    padding-left:4px;
}

footer .footer-first{
    border:1px solid;
    width:200px;
    margin-top:40px;
   
    background-color: white;
    height:80px;
}

.go-to-project-2{
    border:1px solid;
    padding-left:50px;
background-color: rgb(192, 57, 57);
color:white;
border-radius:4px;
margin-top:2px;

}

.full-h5-2{
    color:rgb(207, 79, 79);
    padding-left:4px;
}



footer .footer-first{
    border:1px solid;
    width:200px;
    margin-top:40px;
    background-color: white;
    height:80px;
   
}

.go-to-project-3{
    border:1px solid;
    padding-left:50px;
background-color: rgb(192, 57, 57);
color:white;
border-radius:4px;
margin-top:2px;

}

.full-h5-3{
    color:rgb(207, 79, 79);
    padding-left:4px;
}